@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Autodash.Core.TestSuite>
@{
    Layout = "";
}

<table class="table table-condensed" data-bind="with: testSelection">
    <thead>
        <tr>
            <th></th>
            <th>Test Name</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: tests">
        <tr>
            <td><a href="#" class="glyphicon glyphicon-minus-sign text-danger" data-bind="click: $parent.removeTestHandler.bind($data, $data)"></a></td>
            <td data-bind="text: $data"></td>
        </tr>
    </tbody>
</table>