@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Autodash.Core.UI.Models.CreateProjectVm>
@{
    Layout = "_Layout.cshtml";
}

<ol class="breadcrumb mt10">
    <li><a href="/">Home</a></li>
    <li class="active">New Project</li>
</ol>

<h1>New Project</h1>

<form method="post" enctype="application/x-www-form-urlencoded" action="/projects/create">

    @Html.Partial("_ValidationSummary", Model.Errors)

    <div class="form-group">
        <label for="ProjectName">Project Name</label>
        <input type="text" class="form-control" name="ProjectName" required maxlength="100" />
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" name="Description" required maxlength="500">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
</form>

