@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Autodash.Core.UI.Models.ProjectsVm>
@{
    Layout = "_Layout.cshtml";
}

<h1>Projects</h1>

<div class="text-right">
    <a class="btn btn-primary" href="/projects/create">New Project</a>
</div>

<div class="row mt10">
    
    @{ int idx = 0;}
    @foreach (var proj in Model.Projects)
    {
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" id="panel-title">
                        <a href="/projects/@proj.Id">@proj.Name &raquo;</a>
                    </h3>
                </div>
                <div class="panel-body">
                    @proj.Description
                </div>
            </div>
        </div>
    }

</div>